*.pdf
**/objchk_wlh_*
**/buildchk_wlh_*
**/objfre_wlh_*
**/Debug
**/release
**/Win32
*.sdf
*.vspscc
*.htm
*.suo
*.opensdf
*.user
*.pyc
**/__pycache__
*.log
*.wrn
*.aps
*.lib
*.tags*
*.err
**/_tmf
**/_tmh
**/output/
*.tlog
*.obj
*.pdb
*.bak
**/x64
L10N
RD
TeamBuild
Backup
doc
import
installshield
*.opendb
*.db
**/.vs
!/src/user/lib/*
!/3rd_party/**
publish
*.res
*.bin
